<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <!-- <a class="navbar-item" href="/">Home
      </a>
   -->
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    XSS labs
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/xss/1">
                        XSS 1
                    </a>
                    <a class="navbar-item" href="/xss/2">
                        XSS 2
                    </a>
                    <a class="navbar-item" href="/xss/3">
                        XSS 3
                    </a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    SQLi labs
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="/sqli/1">
                        SQLi 1
                    </a>
                </div>
            </div>
            <a class="navbar-item" target="_blank" href="https://codeberg.org/hacb/weblab">
                Check the source code
            </a>
        </div>
    </div>
</nav>