<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XSS 1 :: Weblab</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    {{template "_navbar.gohtml"}}
    <section class="section">
        <div class="container block">
            <h1 class="title">
                XSS 1
            </h1>
        </div>
        <div class="container block">
            {{ if ne . "" }}
            <p>
                Hi {{.}}, nice to meet you!
            </p>
            <br>
            <a href="/xss/1"><button class="button is-link">Reset</button></a>
            {{else}}
            <div class="container block">
                <h1>Hey, what's your name?</h1>
            </div>
            <div class="container block">
                <form action="/xss/1" method="get">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" name="name" id="name" placeholder="Alice">
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            {{end}}
        </div>
    </section>
</body>

</html>